<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>fis3-test-static</title>
  <link rel="stylesheet" href="index.css?__inline">
  <script src="js/app.js" async></script>
</head>
<body>
  <img src="image/demo.png?__inline" alt="">
  <p>this is a paragraph</p>
  <script src="index.js?__inline"></script>

  <% {} %>
</body>
</html>
